<li>
  <a href="https://www.yapingwang.com/_files/ugd/a1a7cc_e6b13dc6eba64c418d1e67a2dda461c1.pdf" target="_blank" rel="nofollow noopener noreferrer me" itemprop="sameAs">
    <i class="fas fa-fw fa-file-pdf" aria-hidden="true"></i><span class="label">CV</span>
  </a>
</li>
<li>
  <a href="https://scholar.google.com/citations?user=79VI9IkAAAAAJ&hl=en" target="_blank" rel="nofollow noopener noreferrer me" itemprop="sameAs">
    <i class="fas fa-fw fa-graduation-cap" aria-hidden="true"></i><span class="label">Google Scholar</span>
  </a>
</li>
<li>
  <a href="/book/" rel="me">
    <i class="fas fa-fw fa-book" aria-hidden="true"></i><span class="label">Book</span>
  </a>
</li>
<li>
  <a href="mailto:fywang@colgate.edu" rel="me" class="u-email">
    <meta itemprop="email" content="fywang@colgate.edu" />
    <i class="fas fa-fw fa-square-envelope" aria-hidden="true"></i><span class="label">Email</span>
  </a>
</li>
